.center h1 {
  text-align: center;
}

.center .login-button {
  margin: 0 auto;
  width: 135px;
}

.center .login-button .btn {
  width: 135px;
}

.loading {
  position: absolute;
  margin: auto auto;
  width: 60px;
  height: 60px;
  top: 0;
  bottom: 60px;
  right: 0;
  left: 0;
}

img.owner-photo {
  width: 200px;
}

.audio {
  display: block;
  margin-top: 10px;
}

.play-btn {
  float: left;
  cursor: pointer;
  height: 16px;
  width: 16px;
  background: url(http://st0.vk.me/images/playpause.gif) no-repeat 0px 0px;
}

.stop-btn {
  float: left;
  cursor: pointer;
  height: 16px;
  width: 16px;
  background: url(http://st0.vk.me/images/playpause.gif) no-repeat 0px -16px;
}

.audio-info {
  margin-left: 25px;
}
