<!DOCTYPE html>
<html>
<head>
  <title>VkFavesManager</title>
</head>
<body>
  <h1>VkFavesManager</h1>
  <p></p>
  <script type="text/javascript" src="../bower_components/lodash/lodash.min.js"></script>
  <script type="text/javascript" src="../bower_components/pouchdb/dist/pouchdb.min.js"></script>
  <script type="text/javascript" src="../bower_components/pouchdb-collate/dist/pouchdb-collate.js"></script>
  <script type="text/javascript" src="../js/utils.js"></script>
  <script type="text/javascript" src="../js/vkApi.js"></script>
  <script type="text/javascript" src="../js/index.js"></script>
</body>
</html>
